body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc765;
    font-family: 'VT323', monospace;
}

#card {
    width: 0;
    height: 0;
    border-top: 100px solid #63c2e2;
    border-right: 170px solid #c1e1ec;
    border-bottom: 100px solid #63c2e2;
    border-left: 170px solid #c1e1ec;
    box-shadow: 10px 10px 5px #f7b23c;
}

.heart {
    width: 32px;
    height: 32px;
    background-color: #ff1414;
    transform: translate(-50%, -50%) rotate(45deg);
    position: relative;
    cursor: pointer;
}

.heart:before,
.heart:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff1414;
    border-radius: 50%;
}

.heart:before {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heart:after {
    top: 50%;
    left:.textCont {
    font-size: 150%;
    margin-top: 10%;
    margin-left: 5px;
    margin-right: 5px;
    width: 90%; /* বাক্সের প্রস্থ বেশি করে দিলাম */
    height: 80vh; /* উচ্চতাকে 80% ভিউপোর্টের উচ্চতা করে দিলাম */
    color: #fff;
    background: rgba(0, 0, 0, 0.7); /* পেছনের কালার যেন সুন্দর হয় */
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow-y: auto; /* লেখার সাথে স্ক্রল করতে পারবে */
}
@keyframes blinky {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

footer {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 100;
}

footer > a {
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    font-size: 110%;
    text-decoration: none;
    padding: 5px 20px;
    border: 3px solid #fff;
    transition: color 0.5s linear, box-shadow 0.5s ease-in;
}

.song {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    right: 5%;
    position: absolute;
}

.pause {
    cursor: pointer;
}
